.auth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.auth-left-column {
  background-color: var(--color-bg-card);
}

.auth-left-column,
.auth-right-column {
  padding: var(--spacing-md-h) var(--spacing-md-v);
  display: grid;
  place-content: center;
}

.auth-form,
.auth-header,
.auth-fields,
.auth-actions {
  display: flex;
  flex-direction: column;
}

.auth-form {
  min-width: 400px;
  row-gap: var(--spacing-md);
}
.auth-fields,
.auth-header {
  row-gap: var(--spacing-sm);
}

.auth-actions {
  row-gap: var(--spacing-md);
}


@media (max-width: 768px) {
  .auth-container {
    grid-template-columns: 1fr;
  }

  .auth-left-column {
    display: none;
  }

  .auth-form {
    min-width: 100%;
  } 
}

