.dashboard {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  padding: var(--spacing-md) var(--spacing-md);
  row-gap: var(--spacing-md);
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  flex: 1 1 0%;
  display: grid;
}
